#display {
	font-family: 'Microsoft JhengHei', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	vertical-align: top;
}

#controlPanel {
	width: 25%;
	width: 250px;
	padding-right: 15px;
}

#data {
	min-width: 75%;
}

[id$='Filter'] select {
	font-size: 16px;
}

.plusButton {
	background-color: rgba(103,194,58,.1);
	border: 1px solid rgba(64,158,255,.2);
	color: #67c23a;
	padding: 0px 5px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	vertical-align: center;
}

.filterSelection {
	font-size: 18px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.filterSelection span {
	background-color: rgba(103,194,58,.1);
	border: 1px solid rgba(64,158,255,.2);
	color: #67c23a;
	border-radius: 4px;
	padding: 0px 4px;
	margin-right: 4px;
	line-height: 1.5;
	display: inline-block;
}
.filterSelection div {
	padding-right: 4px;
	display: inline;
}
.filterSelection .cancel {
	cursor: pointer;
}

#data {
	font-family: consolas, 'Microsoft JhengHei', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-collapse: collapse;
	font-size: 18px;
}
#data td, #data th {
	border: 1px solid gray;
	vertical-align: center;
	padding: 4px 8px;
	white-space: nowrap;
}
#data th {
	background-color: #6c7ae0;
	color: #fff;
}
#data tr:nth-child(even) {
	background-color: #fff;
}
#data tr:nth-child(odd) {
	background-color: #f8f6ff;
}
#data tr:hover {
	background-color: #D6EEEE;
}
#data .pid, #data .range {
	text-align: center;
}
#data .pid {
	min-width: 60px;
}
#data .range {
	min-width: 40px;
}
#data td:last-child {
	width: 100%;
}

.hide {
	display: none;
}
